.button {
	font-family: var(--ff-prim);
	font-weight: 400;
	font-size: 14px;
	line-height: 150%; /* 21/14 */
	padding: 11px 24px;
	border-radius: 50px;
	color: var(--c-sec);
	background-color: var(--c-acc-prim);
	border: 1px solid var(--c-acc-prim);
	transition-duration: 0.2s;
	transition-property: background-color, border-color;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--green-light);
			border-color: var(--green-light);
		}
	}

	&--outline {
		background-color: transparent;
		color: var(--c-acc-prim);
		border-color: currentColor;
		transition-property: background-color, color;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--c-acc-prim);
				color: var(--c-sec);
			}
		}
	}
}
