$container_padding: 15;
$container_width: 1140 + $container_padding * 2;
$fz_base: 16;

:root {
	--fz-prim: #{$fz_base}px;
	--c-prim: #364844;
	--c-sec: #fff;
	--c-sec: #fff;
	--c-acc-prim: #0dbc91;
	--green-light: #1fa181;
	--green-dark: #08664f;

	--ff-prim: 'PT Sans Caption';

	--container-width: #{$container_width}px;
	--container-padding: #{$container_padding}px;
}
